.menu-activity{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: x-large;
    font-weight: 800;
    border-radius: 10px;
    
    
}
/* .menu-activity:hover{
    background-color: antiquewhite;
} */

/* .search-input:focus + .search-icon {
  display: none;
} */